<!--PAGE FOR COMPANY FEATURES: EDIT AND DELETE ARE ONLY ACCESSIBLE IF A COMPANY EXIST AND DELETE IF NO COMPANY EXISTS -->
<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <script th:inline="javascript">
        function confirmDelete()
        {
            let result = confirm("Warning: This action will delete every record in the database. Are you sure?");
            return result;
        }
    </script>
</head>


<body>
<div layout:fragment="content" class="container">
    <div th:if="${company}">
        <h3>Company Name: <span th:text="${company.name}"></span></h3>
        <p>Company Address: <span th:text="${company.address}"></span></p>

        <!-- Button to redirect to /company/edit -->
        <a th:href="@{/company/edit(id=${company.id})}">
            <button class="btn btn-primary">Edit Company</button>
        </a>

        <!-- Form to trigger delete with confirmation -->
        <form id="deleteForm" th:action="@{/company/delete}" method="post" onsubmit="return confirmDelete();">
            <button type="submit" class="btn btn-danger">Delete Company</button>
        </form>
    </div>

    <th:block th:unless="${company}">
        <a th:href="@{/company/create}">
            <button class="btn btn-primary">Create Company</button>
        </a>
    </th:block>
</div>
</body>
</html>
