<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div class="container" layout:fragment="content">
    <div class="py-5 text-center">
        <h2>Create an Office</h2>
        <p class="lead">Thank you for choosing our logistics company. Use the form below to create a new office:</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">

            <h4 class="mb-3">Office details</h4>

            <form method="post" th:action="@{/office}" th:object="${office}">

                <div class="mb-3">
                    <label for="address">Office Address</label>
                    <input class="form-control" id="address" placeholder="1234 Main St" required
                           th:field="*{address}" type="text">
                    <div class="invalid-feedback">
                        <span th:errors="*{address}" th:if="${#fields.hasErrors('address')}"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="companyId">Company ID</label>
                    <input class="form-control" id="companyId" required th:field="*{companyId}" type="number">
                    <div class="invalid-feedback">
                        <span th:errors="*{companyId}" th:if="${#fields.hasErrors('companyId')}"></span>
                    </div>
                </div>

                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit">Create Office</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>