<!--REFACTOR TO BE ONLY ACCESSIBLE IF THERE ARE NO COMPANIES IN THE DB-->
<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<body>

<div layout:fragment="content" class="container">
    <h2>Create new company</h2>

    <div th:if="${#fields.hasErrors('company.name')}" class="alert alert-danger">
        <p th:errors="*{company.name}"></p>
    </div>
    <div th:if="${#fields.hasErrors('company.address')}" class="alert alert-danger">
        <p th:errors="*{company.address}"></p>
    </div>

    <form th:action="@{/company/create}" th:object="${company}" method="post">

        <div class="form-group">
            <label for="name">Company name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Enter company name">
        </div>

        <div class="form-group">
            <label for="address">Company address:</label>
            <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Enter company name">
        </div>

        <button type="submit" class="btn btn-primary">Create company</button>
</form>
</div>
</body>
</html>