<!--EDIT COMPANY FORM, REQUIRES COMPANY NAME AND ADDRESS-->
<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<div class="container" layout:fragment="content">
    <h2>Edit company</h2>

    <!-- Display errors if needed -->
    <div class="alert alert-danger" th:if="${#fields.hasErrors('company.name')}">
        <p th:errors="*{company.name}"></p>
    </div>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('company.address')}">
        <p th:errors="*{company.address}"></p>
    </div>

    <!-- Edit form -->
    <form th:action="@{/company/edit}" th:method="put" th:object="${company}">
        <input th:field="*{id}" type="hidden">

        <div class="form-group">
            <label for="name">New company name:</label>
            <input class="form-control" id="name" placeholder="Enter company name" th:field="*{name}" type="text">
        </div>

        <div class="form-group">
            <label for="address">New company Address:</label>
            <input class="form-control" id="address" placeholder="Enter company address" th:field="*{address}"
                   type="text">
        </div>

        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
</div>
</body>
</html>