<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<body>
<div layout:fragment="content" class="container">

    <div class="" style="margin-top:200px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Log in to your profile</h3>
                </div>
                <div>
                    <div class="p-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="text" class="form-control" placeholder="Username" id="username-value">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                            <input type="password" class="form-control" placeholder="Password" id="password-value">
                        </div>
                        <button class="btn btn-primary text-center mt-2" type="submit" id="sign-in-button">
                            Log in
                        </button>
                        <p class="text-center mt-5">No profile created yet?
                            <span class="text-primary" id='sign-up-button'>Register</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        async function submitRegisterForm() {
            var username = document.querySelector('#username-value').value;
            var password = document.querySelector('#password-value').value;
            fetch('http://localhost:8080/api/auth/login', {
                method: 'POST',
                headers: new Headers({
                    "Content-Type": "application/json"
                }),
                body: JSON.stringify(
                    {
                        "username": username,
                        "password": password
                    }
                )
            }).then(async function (response) {
                if (!response.ok) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Something went wrong!',
                        footer: '<a href="/templates/register">Регистрация</a>'
                    });
                } else {
                    const json = await response.json();
                    localStorage.setItem("user", JSON.stringify(json));
                }
            }).catch(function (reason) {
                console.log(reason);
            })

        }

        var submitBtn = document.querySelector('#sign-in-button');
        submitBtn.addEventListener('click', submitRegisterForm);

        var signUpButton = document.querySelector("#sign-up-button")
        signUpButton.addEventListener('mouseenter', () => signUpButton.classList.add('border', 'border-primary'));
        signUpButton.addEventListener('mouseleave', () => signUpButton.classList.remove('border', 'border-primary'));

        signUpButton.addEventListener('click', () => window.location.replace("/register"));
    </script>

</div>
</body>
</html>