<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<body>
<div layout:fragment="content" class="container">

    <div class="" style="margin-top:200px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Create a profile</h3>
                </div>
                <div class="p-4">
                    <p th:if="${message}" class="error">Wrong user or password</p>
                    <form th:action="@{/register}" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i class="fa fa-user text-white"></i></span>
                            <input type="text" class="form-control" placeholder="Username" id="username"
                                   name="username">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i class="fa fa-lock text-white"></i></span>
                            <input type="password" class="form-control" placeholder="Password" id="password"
                                   name="password">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i class="fa fa-lock text-white"></i></span>
                            <input type="password" class="form-control" placeholder="Confirm password"
                                   id="matching-password" name="matchingPassword">
                        </div>
                        <div class="d-grid col-12 mx-auto">
                            <button class="btn btn-primary" type="submit"><span></span> Register</button>
                        </div>
                        <p class="text-center mt-3">Already have a profile?
                            <span class="text-primary" id="sign-in-button">Log in</span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var signInButton = document.querySelector("#sign-in-button");
        signInButton.addEventListener('mouseenter', () => signInButton.classList.add('border', 'border-primary'))
        signInButton.addEventListener('mouseleave', () => signInButton.classList.remove('border', 'border-primary'))

        signInButton.addEventListener('click', () => window.location.replace("/login"))
    </script>
</div>
</body>
</html>