<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div class="container" layout:fragment="content">
    <div class="py-5 text-center">
        <h2>Update client</h2>
    </div>

    <div class="row">

        <div class="col-md-12 order-md-1">

            <h4 class="mb-3">Client details</h4>

            <form th:action="@{'/admin/client/update/' + ${client.id}}" th:method="PUT" th:object="${client}">

                <hr class="mb-4">

                <div class="mb-3">
                    <h5 class="d-flex mb-3">
                        <span class="text-muted">Client ID is:&nbsp;&nbsp;&nbsp;</span>
                        <span class="badge badge-secondary padding-right: 0.6em; padding-left: 0.6em;"><div
                                class="margin-bottom: .0rem !important" th:text=" ${client.id} "></div></span>
                    </h5>
                </div>

                <hr class="mb-4">

                <div class="mb-3">
                    <label for="username">Client Username</label>
                    <input class="form-control" id="username" placeholder="Name" required
                           th:field="*{username}" type="text">
                    <div class="invalid-feedback">
                        <span th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></span>
                    </div>
                </div>

                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit">Update Client</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>