<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<body>
<div layout:fragment="content" class="container">
    <div class="py-5 text-center">
        <h2>Order details</h2>
    </div>

    <div class="row">

        <div class="col-md-12 order-md-1">

            <h4 class="mb-3">Details on your order</h4>

            <form action="#" th:method="put" th:object="${order}" th:action="@{'/order/' + ${order.id}}">

                <hr class="mb-4">

                <div class="mb-3">
                    <h5 class="d-flex mb-3">
                        <span class="text-muted">Your order ID is:&nbsp;&nbsp;&nbsp;</span>
                        <span class="badge badge-secondary padding-right: 0.6em; padding-left: 0.6em;"><div
                                class="margin-bottom: .0rem !important" th:text=" ${id} "></div></span>
                    </h5>
                </div>

                <hr class="mb-4">

                <h5 class="mb-3">Order status:</h5>

                <div class="mb-3">
                    <div class="form-check">
                        <div th:each="status : ${T(nbu.bg.logisticscompany.model.entity.OrderStatus).values()}">
                            <input th:field="*{orderStatus}" class="form-check-input" id="status" name="${status}"
                                   required th:value="${status}" type="radio"/>
                            <label class=" form-check-label" for="status" th:text="${status}"></label>
                        </div>
                    </div>
                </div>

                <hr class="mb-4">

                <div class="mb-3">
                    <label for="senderEmail">Sender email</label>
                    <input type="email" th:field="*{senderEmail}" class="form-control" id="senderEmail"
                           placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('senderEmail')}" th:errors="*{senderEmail}"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="receiverEmail">Receiver email</label>
                    <input type="email" th:field="*{receiverEmail}" class="form-control" id="receiverEmail"
                           placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('receiverEmail')}" th:errors="*{receiverEmail}"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="deliveryAddress">Delivery Address</label>
                    <input type="text" th:field="*{deliveryAddress}" class="form-control" id="deliveryAddress"
                           placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('deliveryAddress')}" th:errors="*{deliveryAddress}"></span>
                    </div>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" th:field="*{isOfficeDelivery}" id="isOfficeDelivery"
                           class="custom-control-input" oninput="calculateTotal()">
                    <label class="custom-control-label" for="isOfficeDelivery">Is office pickup?</label>
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('isOfficeDelivery')}" th:errors="*{isOfficeDelivery}"></span>
                    </div>
                </div>
                <hr class="mb-4">


                <div class="mb-3">
                    <label for="isOfficeDelivery">Package weight</label>
                    <input type="number" step="0.01" min="0" id="weight" th:field="*{weight}" class="form-control"
                           oninput="calculateTotal()">
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
                    </div>
                </div>
                <hr class="mb-4">

                <h5 class="mb-3">Total Price</h5>

                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" step="0.01" min="0" id="totalPrice"
                           th:field="*{totalPrice}" aria-describedby="button-addon2" oninput="calculateTotal()">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            onclick="calculateTotal()">Calculate
                    </button>
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('totalPrice')}" th:errors="*{totalPrice}"></span>
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Update order</button>
            </form>
        </div>
    </div>


    <script type="text/javascript">
        function calculateTotal() {
            const ECONOMY_PRICE = parseFloat("4.40");
            const ECONOMY_ADD_ON = parseFloat("1.48");
            const PREMIUM_ECONOMY_PRICE = parseFloat("6.13");
            const PREMIUM_ECONOMY_ADD_ON = parseFloat("4.25");
            const PRIORITY_PRICE = parseFloat("14.49");
            const PRIORITY_ADD_ON = parseFloat("13.98");
            const PRIORITY_EXTRA_KG_ADD_ON = parseFloat("0.56");

            let isOfficeDelivery = document.getElementById("isOfficeDelivery").checked;
            console.log("input", "isOfficeDelivery", isOfficeDelivery);
            let weight = document.getElementById("weight").value;
            let inputWeight = parseFloat(weight);
            if (typeof inputWeight === 'number' && !Number.isNaN(inputWeight)) {
                inputWeight = parseFloat(weight);
            } else {
                inputWeight = parseFloat("0");
            }
            var totalPrice = parseFloat("0");

            if (inputWeight <= parseFloat("3")) {
                if (isOfficeDelivery) {
                    totalPrice = ECONOMY_PRICE;
                } else {
                    totalPrice = ECONOMY_PRICE + ECONOMY_ADD_ON;
                }
            } else if (inputWeight <= parseFloat("10")) {
                if (isOfficeDelivery) {
                    totalPrice = PREMIUM_ECONOMY_PRICE;
                } else {
                    totalPrice = PREMIUM_ECONOMY_PRICE + PREMIUM_ECONOMY_ADD_ON;
                }
            } else {
                let remainingKg = Math.floor(inputWeight - parseFloat("10"));
                let remainingKgPrice = remainingKg * PRIORITY_EXTRA_KG_ADD_ON;
                if (isOfficeDelivery) {
                    totalPrice = PRIORITY_PRICE + remainingKgPrice;
                } else {
                    totalPrice = PRIORITY_PRICE + PRIORITY_ADD_ON + remainingKgPrice;
                }
            }

            //display the result
            totalPrice = Math.round((totalPrice + Number.EPSILON) * 100) / 100;
            document.getElementById('totalPrice').value = totalPrice
            console.log(totalPrice);
        }
    </script>

</div>
</body>