<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<body>
<div layout:fragment="content" class="container">
    <div class="py-5 text-center">
        <h2>Order details</h2>
    </div>

    <div class="row">

        <div class="col-md-12 order-md-1">

            <h4 class="mb-3">Details on this employee</h4>

            <form action="#" th:method="put" th:object="${staff}" th:action="@{'/admin/employee/' + ${staff.id}}">

                <hr class="mb-4">

                <div class="mb-3">
                    <h5 class="d-flex mb-3">
                        <span class="text-muted">This employee ID is:&nbsp;&nbsp;&nbsp;</span>
                        <span class="badge badge-secondary padding-right: 0.6em; padding-left: 0.6em;"><div
                                class="margin-bottom: .0rem !important" th:text=" ${id} "></div></span>
                    </h5>
                </div>
                <div class="mb-3">
                    <h5 class="d-flex mb-3">
                        <span class="text-muted">This employee username is:&nbsp;&nbsp;&nbsp;</span>
                        <span class="badge badge-secondary padding-right: 0.6em; padding-left: 0.6em;"><div
                                class="margin-bottom: .0rem !important" th:text=" ${staff.username} "></div></span>
                    </h5>
                </div>

                <hr class="mb-4">

                <h5 class="mb-3">Staff position:</h5>

                <div class="mb-3">
                    <div class="form-check">
                        <div th:each="role : ${roles}">
                            <input th:field="*{role}" class="form-check-input" id="role" name="${role}"
                                   required th:value="${role}" type="radio"/>
                            <label class=" form-check-label" for="role" th:text="${role}"></label>
                        </div>
                    </div>
                </div>


                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Update staff</button>
            </form>
        </div>
    </div>


</div>
</body>