<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<body>
<div layout:fragment="content" class="container">
    <div class="py-5 text-center">
        <h2>Update office</h2>
    </div>

    <div class="row">

        <div class="col-md-12 order-md-1">

            <h4 class="mb-3">Office details</h4>

            <form th:method="PUT" th:object="${office}" th:action="@{'/office/update/' + ${office.id}}">

                <hr class="mb-4">

                <div class="mb-3">
                    <h5 class="d-flex mb-3">
                        <span class="text-muted">Office ID is:&nbsp;&nbsp;&nbsp;</span>
                        <span class="badge badge-secondary padding-right: 0.6em; padding-left: 0.6em;"><div
                                class="margin-bottom: .0rem !important" th:text=" ${office.id} "></div></span>
                    </h5>
                </div>

                <hr class="mb-4">

                <div class="mb-3">
                    <label for="address">Office Address</label>
                    <input type="text" th:field="*{address}" class="form-control" id="address"
                           placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="companyId">Company ID</label>
                    <input type="number" th:field="*{companyId}" class="form-control" id="companyId" required>
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('companyId')}" th:errors="*{companyId}"></span>
                    </div>
                </div>

                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit">Update Office</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>